<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bellakhder.abdallah.prise_rendez_vous">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".clientlogged" />
        <activity android:name=".listrdvclient" />
        <activity android:name=".ficheadmin" />
        <activity android:name=".fichelocal" />
        <activity android:name=".inscriptionclient" />
        <activity android:name=".loggedadmin" />
        <activity android:name=".objectifrdv" />
        <activity android:name=".searchclient" />
        <activity android:name=".ficheclient"></activity>
    </application>

</manifest>